.catContainer{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 6rem 2rem;
    height: max-content;

}
 .catItems{
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
    background-color: #b2c6d6;
    width: 100%;
    /* padding: 1rem; */
}
.catagoriesTitle{
    align-self: flex-start;
}
.cardImg{
    width: 30px;
    border-radius: 10px;
}
.catdiv{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 15px;

}