.FeaturedContainer{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 6rem 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;    
    background-color: #b2c6d6;

    margin: 1rem;
}
.btn{
    font-size: 45%;
    width: 45%;
    margin: 3px;
}
 /* .catItems{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 1rem;
}
.catagoriesTitle{
    align-self: flex-start;
} */