:root {
  --darkbg: rgb(177 143 131);
  --lightbg: rgb(183 160 152);
}
.App {
  text-align: center;
  font-size: 100%;
  padding-top: 40px;
  /* background-color: var(--lightbg); */
  /* background: repeating-radial-gradient(90deg, rgb(151, 120, 109) 1%, rgb(219, 216, 216) 5%, 45deg, rgb(151, 120, 109) 1% rgb(151, 120, 109) 1%, rgb(219, 216, 216) 5%, rgb(151, 120, 109) 1%); */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}



.df{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fs{
  font-size: 1rem;
}
.fs2{
  font-size: 1.5rem;
}
.gp{
  gap:1rem;
}
.clw{
  color: white;
}
.br{
  border: 1px solid black;
}
.grbr{
  border: 1px solid rgb(245, 243, 243);

}
.parentUl a{
color: black;
}
input {
  border: 1px solid black;
  padding: 0 5px;
}
.brg{
  border: 1px solid rgb(161, 159, 159);
}
.brgb{
  border-bottom: 1px solid rgb(161, 159, 159);
}
.brgt{
  border-top: 1px solid grey;
}
.bgdark{
  background-color: rgb(252, 199, 102);
}